html,
body {
  padding: 0;
  margin: 0;
  color: white; /* Set text color to white */
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f15a59;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f15a59;
  padding: 5px 100px; /* Adjust the top and bottom padding here (5px top, 20px right, 5px bottom, 20px left) */
}

.logo {
  display: flex;
  align-items: center; /* Center items vertically */
  font-family: 'Handjet';
}

.bold-text {
  font-weight: bold;
}

.nav-logo {
  display: flex;
  align-items: center;
  margin-right: 1rem; 
  max-width: 100%; 
  height: auto; 
}

.nav-title {
  display: flex;
  align-items: center;
  flex: 1; /* Allow the title to take up the remaining space */
}

nav a {
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  gap: 20px;
}

.title {
  font-weight: 700; 
  font-size: 7rem; /* Use relative font size, adjust as needed */
  text-align: center;
  line-height: 0.7; 
  padding-top: 2rem;
  font-family: 'Handjet';
}

.subtitle {
  font-weight: 400; 
  font-size: 3rem; /* Use relative font size, adjust as needed */
  text-align: center;
  line-height: 0.5; 
  font-family: 'Handjet';

}

/* Media query for smaller screen sizes */
@media screen and (max-width: 768px) {
  .title {
    line-height: 1.0; /* Adjust the line-height for smaller screens */
  }

  .subtitle {
    line-height: 0.8; /* Adjust the line-height for smaller screens */
  }

  nav {
    flex-direction: row; /* Horizontal layout for links on smaller screens */
    gap: 20px;
  }
}